/*FONT FAMILIES*/
/*    font-family: 'Lato', sans-serif;
    font-family: 'Droid Serif', serif;*/


.navbar {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.alert-warning {
    color: #9B9C9B;
    background-color: #ffffff;
    border-color: #9B9C9B;
}

.fake {
    position: absolute;
}

.navbar-brand {
    padding: 5px 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f1a977;
    background-color: transparent;
}

div .u-backgroundWhite{
    background-color: #fff;
}
div #article-text {
    text-align: justify;
    text-justify: inter-word;
    padding:30px;
    line-height: 1.7 !important;
}

html{
    overflow:hidden;
    height:100%;
}

.btn-default:hover {
    color: #fff;
    background-color: #f1a977;
    border-color: 1px solid rgba(0,0,0,.09); /*set the color you want here*/
}
.btn-default{
    box-shadow:0 2px 2px rgba(0,0,0,.28)
}
.navbar-btn{
    margin-right: 20px;
}

.panel-shadow {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.09);
    margin-bottom: 10px;
}
.article-card {
    padding: 25px;
}
.user-welcome {
    text-align: center;
    padding-bottom: 20px;
    color:#47525d;
}
.thumbnail-title{
    color:#47525d;
}

#preference-category-header{
    color:#f1a977;
    display:inline;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    /*color:#202020;*/
    font-family: "Lato";
    letter-spacing: -.028em;
}
.inner-article-card{
    background: #fbfbfb;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.login-box{
    background: #fbfbfb;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.panel-body {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
body {
    background-color: #f3f3f3;
    font-size: 16px;
    height:100%;
    overflow: auto;
    padding-top: 70px;
}
#article-link-btn{
    position:relative;
    top:-60px;
    float:right;
    left:-15px;
}

.btn{
    font-family:'Lato', sans-serif;
}
.my-dropdown{
    font-family: 'Lato', sans-serif;
    font-color:#47525d !important;
}

.detailBox {
    width:300px;
    border-radius:5px; 
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.09);
    margin-left: 20px;
}

.titleBox {
    background-color:#fbfbfb !important;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}
.actionBox {
    border-top:1px solid rgba(0,0,0,.15);
    padding:10px; 
}
.commentBox {
    padding:10px;
    border-top:1px solid rgba(0,0,0,.15);
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
#article-title{
    font-size: 40px;
    line-height: 1em;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    color:#202020;
    font-family: "Lato";

    letter-spacing: -.028em;
    margin-bottom: 0px;
}
#article-authors{
    font-family: 'Lato', serif;
    font-style:normal;
    font-weight: 300;
    font-size: 20px;
    color: #414141;
    line-height: 1em;
    letter-spacing: -.022em;
    color:#bbb;
    top-margin:4px;
}
#article-image{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 66,75%; 
    /*padding-left: */
}

#article-text{
    font-family: 'Droid Serif';
    font-size: 20px;
    line-height: 1.04;
    padding: 0 30px 30px 30px !important;
}
.article-row{
    background-color: #fff;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:40px;
    margin-right:5px;
    /*height:120%;*/
    float:left;
    padding:3px;
    overflow:hidden;

}
#parrot-logo{
    width:500px;
    display:center;
    margin-top: 80px;
}
.profile-img{
    width:100px;
    overflow:hidden;
}

.login-right{
    margin-top: 150px;
}
.profile-img img {
    width:90%;
}


.commenterImage img {
    width:100%;
}

.img-circle {
    border: 1px solid rgba(0,0,0,.15);
}
.new-account{
    margin-bottom:50px;
}
.login-title{
    color:#47525d;
}

.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.userName {
    color: #f1a977;

}
.commentedText{
    background-color: #DCDCDC;
}

.commentLink {
  color: inherit; /* blue colors for links too */
  cursor:pointer;
  text-decoration: inherit; /* no underline */
}
.popover{
    cursor: no-drop;
}
