<!doctype html>
<html>
<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <!-- Bootstrap cdn -->
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- My JS code specific to the page in question -->

    {% block page_specific_script_tag %}{% endblock %}

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- My CSS file -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- To Costomize title of page with user's name -->
    <title>{% block title_text %} Parrot {% endblock %}</title>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a href="/" class="navbar-brand">Parrot</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        {% if "user_id" in session %}
            <a href="/logout"><button type="button" class="btn btn-success navbar-btn">Logout</button></a>
        {% else %}
            <a href="/login"><button type="button" class="btn btn-success navbar-btn">Login</button></a>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Show/hide buttons based on if user is logged in. -->
        {% if "user_id" in session %}
            <li class="dropdown">
              <a href="/preferences" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile/{{ session['user_id'] }}">My Profile</a></li>
                <li><a href="/preferences/{{ session['user_id'] }}">Update Preferences</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
        {% endif %}
    </ul>

      </button>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

{% for flash in get_flashed_messages() %}
  <div class="alert alert-success">{{ flash }}</div>
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</div>

</body>
</html>

