{% extends 'base.html' %} 
{% block page_specific_script_tag %}
  <link href="/static/css/cover.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <style>
        html,
        body{
            position: relative;
            background: #000 url("/static/img/Home.JPG") center center;
            width: 100%;
            height: 100%;

            background-size: cover;
            overflow: hidden;
            -webkit-background-size: cover; /* safari */
            -moz-background-size: cover; /* firefox */
            -o-background-size: cover; /* Opera */
            /* Ensure the html element always takes up the full height of the browser window */
            min-height: 100%;
            background-color: #fff;
            color: #fff;
            text-align: center;
        }

    </style>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">
                <div class="cover-container">
            <!-- <img src="/static/img/ParrotLogo2.png" height="400px" width=auto> -->
                        <p class="slogon">Spanish Learning Made Easy.</p>
                        <div class="col-sm-4">
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="subheading">Learning a second language can be challenging. Simplify it with Parrot, the app that talks back.</p>
                                {% if "user_id" not in session %}
                                    <a class="btn btn-info btn-lg" id="start-button" href="/signup">Get started</a>
                                {% endif %} 
                            </div>

                        
                        </div>
            <!-- <a href="/translate"><h4>Try it out!</h4></a> -->

                        <div class="mastfoot">
                            <div class="inner">
                                  <p>Designed and developed by <a class="mainpage-links" href="https://github.com/khardsonhurley">Krishelle Hardson-Hurley</a>. Built at <a class="mainpage-links" href="https://hackbrightacademy.com/">Hackbright Academy</a>.</p>
                                  <p>2016 Parrot. All Rights Reserved.</p>
                            </div>
                        </div>

                <!-- </div> -->
            </div>
        </div>
    </div>



{% endblock %}