{% extends 'base.html' %}
{% block page_specific_script_tag %}
     <script src="/static/js/translatePopoverOnly.js"></script>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h1>Welcome {{ user.first_name }}! </h1>
                <h4>Pick an article!<h4> 
            </div>
        </div>
    
    {% for preference in preferences_dict %}
        <div class="row">
            <h2> {{ preference.category.english_category }}</h2>
            <a href="/category/{{preference.category.category_code}}">Click here to see more articles...</a>
            <div class="row">
                    {% for article in preferences_dict[preference] %}
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="thumbnail">
                                <img src="{{article.top_image}}">
                                <div class="caption">
                                    <h4>{{ article.title }}</h4>
                                    <a href="/article/{{article.article_id}}" 
                                    class="btn btn-primary center-block" role="button">Parrot</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>  

    {% endfor %}
   
    

{% endblock %}