{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" >
            <img class="center-block" id="parrot-logo" src="/static/img/ParrotLogo3.png">
        </div>
        <div class="col-sm-6 login-right">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7 panel panel-default panel-shadow login-box">
                <div class="panel-body">
                    <h1 class="text-center login-title">Sign up for Parrot</h1>
                    <form action="/signup" method="POST">
                    <div class="account-wall">
                        <form class="form-signup">
                            <br>
                        <input type="text" class="form-control" placeholder="First Name" name="firstname" required autofocus>
                        <br>
                        <input type="text" class="form-control" placeholder="Last Name" name="lastname" required autofocus>
                        <br>
                        <input type="text" class="form-control" placeholder="Email Address" name="email" required autofocus>
                        <br>
                        <input type="text" class="form-control" placeholder="Phone Number (SMS Capable)" name="phone" required autofocus>
                        <br>
                        <input type="text" name="username" class="form-control"  placeholder="Username" required autofocus>
                        <br>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <br>
                        <div class="">
                        <label>Spanish Language Proficiency:<label> 
                                <label class="radio-inline"><input type="radio" name="langlevel" value="novice">Novice</label>
                                <label class="radio-inline"><input type="radio" name="langlevel" value="intermediate">Intermediate</label>
                                <label class="radio-inline"><input type="radio" name="langlevel" value="advanced">Advanced</label>
                        </div>
                        <button class="btn btn-lg btn-default btn-block" type="submit">
                            Sign Up!</button>
                    </div>
                        <br>
                            <a href="/login" class="text-center">Already have an account? Click to Log in </a>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- <h1>Sign Up for Parrot</h1>
    <form action="/signup" method="POST">

        <div>
            <label> First name:
                <input type="firstname" name="firstname" required>
            </label>

            <label> Last name:
                <input type="lastname" name="lastname" required>
            </label>
        </div>
        <br>
        <br>
        <div>
            <label> Email:
                <input type="email" name="email" required>
            </label>
        </div>
        <br>
        <br>
        <div>
            <label> Phone Number (SMS capable):
                <input type="phone" name="phone">
            </label>
        </div>
        <br>
        <br>
        <div>
            <label> Username:
                <input type="username" name="username" required>
            </label>
        </div>
        <br>
        <br>
        <div>
            <label> Password:
                <input type="password" name="password" required>
            </label>
        </div>
        <br>
        <br>
        <div>
        <label>Spanish Language Proficiency:<label> 
                <input type="radio" name="langlevel" value="novice">Novice
                <input type="radio" name="langlevel" value="intermediate">Intermediate
                <input type="radio" name="langlevel" value="advanced">Advanced

        </div>
        <br>
        <br>
        <div>
            <input class= "btn btn-default btn-lg" type="submit" value="Sign Up">
        </div>

    </form> -->
{% endblock %}